<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My App</title>
</head>
<body>
  <div class="container">
      <% include nav %>
      <h1 class="mt-5"><%= title %></h1>
      <%articles.forEach(function(article){%>
        <li class="list-group-item"><a href="/articles/<%= article._id%>"><%= article.title%></a></li>
      <%})%>
    
      <% include layout %>
  </div>
</body>
</html>