<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <br>
<hr>
<footer>
  <p>Copyright &copy; 2019</p>
</footer>

<script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
